#### Basic Tutorial on **Multivariate Linear Regression**

In [1]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... - done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... - done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=315b6ff10b6fdba77feb871fe267acc854e8e53dd6b0a0bcc3978d0b888e1f3b
  Stored in directory: /root/.cache/pip/wheels/0e/e1/0b/575d02bdf2c7ff9c9be5490db69e8d4e2e26b5523e295137eb
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn import linear_model
from word2number import w2n
import math
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('/kaggle/input/hiring-candidates-multivariate-regression/hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
print(w2n.word_to_num('seven'))

7

In [5]:
df['experience'] = df['experience'].fillna('zero') # Converting nan values to 0
df.experience = df.experience.apply(w2n.word_to_num) # Using apply function to convert numerical characters to numerical variables 
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [6]:
df = df.rename(columns={'test_score(out of 10)':'test_score'})

In [7]:
df.columns

Index(['experience', 'test_score', 'interview_score(out of 10)', 'salary($)'], dtype='object')

In [8]:
df

   experience  test_score  interview_score(out of 10)  salary($)
0           0         8.0                           9      50000
1           0         8.0                           6      45000
2           5         6.0                           7      60000
3           2        10.0                          10      65000
4           7         9.0                           6      70000
5           3         7.0                          10      62000
6          10         NaN                           7      72000
7          11         7.0                           8      80000

In [9]:
median_test_score = math.floor(df.test_score.mean())
median_test_score

7

In [10]:
df['test_score'] = df['test_score'].fillna(median_test_score)

In [11]:
df=df.rename(columns={'interview_score(out of 10)':'interview_score'})

In [12]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df['salary($)'])

LinearRegression()

In [13]:
reg.coef_ #coefficient

array([2922.26901502, 2221.30909959, 2147.48256637])

In [14]:
reg.intercept_ #intercept

14992.651446693155

In [15]:
reg.predict([[2,9,6]])

array([53713.86677124])

In [16]:
reg.predict([[12,10,10]])

array([93747.79628651])